---
import Button from '../../components/ui/Button.astro'
import Main from '../../components/container/Main.astro'
---

<Main>
    <div>
        <div>
            <h1>Triple JJJ Flowershop</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem alias inventore excepturi nulla. Rerum, ratione consequatur veritatis vero quod repellendus perspiciatis ullam, accusantium nulla pariatur id iure placeat dicta. Officiis!</p>
        </div>

        <div>
            <h1>Quick Links</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/categories">Category</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
        </div>
        
        <div>
            <h1>Social</h1>
            
        </div>
    </div>
</Main>