---
import Main from '../../components/container/Main.astro'
---

<div class="bg-primary py-8 mt-20">
    <Main>
        <div class="sm:flex space-y-6 sm:space-y-0 justify-between gap-8">
            <div class="sm:w-2/5">
                <h1 class="text-2xl font-bold mb-1">Triple JJJ Flowershop</h1>
                <p>Step into the quaint, tucked-away corner of the bustling city, where a hidden gem awaits – a flower shop that envelops you in an atmosphere of tranquility and warmth. As you push open the weathered wooden door adorned with a delicate wreath of dried lavender, a gentle chime announces your arrival, greeting you with a soft melody that resonates throughout the cozy space.</p>
            </div>
        
            <div class="sm:w-1/5">
                <h1 class="text-2xl font-bold mb-1">Quick Links</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Category</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/faqs">Faqs</a></li>
                </ul>
            </div>

            <div class="sm:w-1/5">
                <h1 class="text-2xl font-bold mb-1">Opening Hours</h1>
                <ul>
                    <li>
                        <span class="font-semibold">Monday:</span> 8:00am - 9:00pm
                    </li>
                    <li>
                        <span class="font-semibold">Tuesday:</span> 8:00am - 9:00pm
                    </li>
                    <li>
                        <span class="font-semibold">Wednesday:</span> 8:00am - 9:00pm
                    </li>
                    <li>
                        <span class="font-semibold">Thursday:</span> 8:00am - 9:00pm
                    </li>
                    <li>
                        <span class="font-semibold">Friday:</span> 8:00am - 9:00pm
                    </li>
                    <li>
                        <span class="font-semibold">Saturday:</span> 8:00am - 9:00pm
                    </li>
                    <li class="text-red-800">
                        <span class="font-semibold">Sunday:</span> Closed
                    </li>
                </ul>
            </div>
            
            <div class="sm:w-1/5">
                <h1 class="text-2xl font-bold mb-1">Contact us</h1>
                <i class="fa-brands fa-facebook text-2xl mr-4"></i>
                <i class="fa-brands fa-twitter text-2xl"></i>

                <h1 class="text-2xl font-bold mt-2 mb-1">Location</h1>
                <div class="flex gap-2 items-center">
                    <img src="/images/ph.png" alt="ph flag" class="w-6">
                    Gastambide st. <span class="underline">Sampaloc Manila</span>
                </div>
            </div>
        </div>
    </Main>
</div>