---
import Main from '../../components/container/Main.astro'

import Button from '../../components/ui/Button.astro'
---


<nav class="bg-primary h-20 flex items-center">
    <Main>
        <div class="flex justify-between items-center">
            <ul class="flex gap-6 text-2xl">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/categories">Category</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
            
            <Button>Inquire Now</Button>
        </div>
    </Main>
</nav>