<nav class="bg-primary flex justify-between items-center px-16 py-5">
    <ul class="flex gap-5">
        <li>Home</li>
        <li>About</li>
        <li>Category</li>
    </ul>

    <button class="bg-accent rounded-full px-6 py-2">Shop Now</button>
</nav>