---
interface Props {
	category: string;
    image: string;
    name: string
}

const { category, image, name } = Astro.props;
    
---

<div class="mb-4 sm:mb-0 categories aspect-square w-full relative flex items-center justify-center text-center cursor-pointer">
    <img src={'/images/categories/thumb/' + image} alt={image} class='absolute top-0 -z-10'/>
    <div>
        <h1 class="text-white text-3xl font-bold">{category}</h1>
        <a href={"/categories/" + name}>
            <p class="text-white underline">View Products</p>
        </a>
    </div>
</div>