---
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/container/Main.astro'

import CategoriesContainer from '../../components/ui/CategoriesContainer.astro';
---

<Layout title='categories'>
    <Main>
        <h1 class="text-accent text-4xl font-semibold py-3">Categories</h1>

        <div class="grid grid-cols-3 gap-6">
            <CategoriesContainer category="Birthday Bouquets" />
            <CategoriesContainer category='Wedding Bouquets'/>
            <CategoriesContainer category='Valentine Bouquets'/>
            <CategoriesContainer category='Anniversarry Bouquets'/>
            <CategoriesContainer category='Graduation Bouquets'/>
            <CategoriesContainer category='Funeral Bouquets'/>
        </div>
    </Main>
</Layout>   