---
// components
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/container/Main.astro'
import CategoriesContainer from './_components/CategoriesContainer.astro';
import Title from '../../components/typography/Title.astro';
import Breadcrumbs from '../../components/ui/Breadcrumbs.astro'
---

<Layout title='categories'>
    <Main>
        <Breadcrumbs route={['categories']}/>

        <h1 class="text-3xl font-semibold mt-2 mb-4">Blooms for Every <span class="underline">Occasion</span> </h1>

        <div class="sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
            <CategoriesContainer name='birthday' image='birthday.png' category="Birthday Bouquets"/>
            <CategoriesContainer name='wedding' image='wedding.png' category='Wedding Bouquets'/>
            <CategoriesContainer name='valentines' image='valentines.png' category='Valentine Bouquets'/>
            <CategoriesContainer name='anniversary' image='anniversary.png' category='Anniversary Bouquets'/>
            <CategoriesContainer name='graduation' image='graduation.png' category='Graduation Bouquets'/>
            <CategoriesContainer name='funeral' image='funeral.png' category='Funeral Bouquets'/>
        </div>
    </Main>
</Layout>   