---
import Layout from "../../layouts/Layout.astro"
import Main from "../../components/container/Main.astro"
import Breadcrumbs from "../../components/ui/Breadcrumbs.astro"

import { getCollection } from "astro:content"
import type { CollectionEntry } from "astro:content"

export async function getStaticPaths() {
    const allProducts: CollectionEntry<'product'>[] = await getCollection('product');

    return allProducts.map(entry => ({
        params: {
            slug: entry.slug
        },
        props: {entry}
    }))
}
const { entry } = Astro.props;
---

<Layout>
    <Main>
        <Breadcrumbs route={['home', 'shop', entry.slug]}/>
        <h1>{entry.data.title}</h1>
    </Main>
</Layout>