---
// external dependencies
import { Image } from 'astro:assets';

// layout
import Layout from '../layouts/Layout.astro';

// components
import Main from '../components/container/Main.astro'

// images
import logo from '../assets/logo.svg'
---

<Layout title="JJJ Flower Shop">
    <!-- put your codes here jai -->
    <div class="bg-primary h-screen">
        JJJ-flosho[p]

        <Image src={logo} alt='brand logo' />
    </div> 
</Layout>

<style>
	
</style>
