---
import './pages.css'
// external dependencies
import { Image } from 'astro:assets';

// layout
import Layout from '../layouts/Layout.astro';

// components
import Main from '../components/container/Main.astro'

// images
import logo from '../images/logo.svg'
---

<Layout title="JJJ Flower Shop">
    <div class="bg-primary flex items-center home">
        <Main>
            <div class="flex flex-row-reverse items-center justify-end gap-10 home__hero">
                <Image src={logo} alt='brand logo' />
                <div>
                    <h1 class="text-accent font-bold text-4xl ">Tripple JJJ Flowershop</h1>
                    <p class="w-72 mt-4 leading-8 italic">"Where every petal whispers a story, and every bloom gently calls you home."</p>
        
                    <div class="flex items-center gap-4 mt-28 social">
                        <span class="font-bold text-[1.15rem]">follow us</span>
                        <div class="w-20 h-[1.5px] bg-accent"></div>
                    </div>
                </div>
            </div>

            <div class="categories">
                <div class="banner">
                    <div class="banner__birthday">

                    </div>
                    <div class="banner__wedding">

                    </div>
                    <div class="banner__anniversary">

                    </div>
                </div>

                <div class="categories__desc">
                    
                </div>
            </div>
        </Main>
    </div> 
</Layout>