---
import './pages.css'
// external dependencies
import { Image } from 'astro:assets';
// layout
import Layout from '../layouts/Layout.astro';
// components
import Main from '../components/container/Main.astro'
import Title from '../components/typography/Title.astro'
import Button from '../components/ui/Button.astro';
// images
import logo from '../images/logo.svg'
// constants
import { SITE_TITLE, SITE_DESCRIPTION } from '../shared/constants/general'
---

<Layout title="JJJ Flower Shop">
    <div class="bg-primary flex items-center home">
        <Main>
            <div class="flex flex-row-reverse items-center justify-end gap-10 home__hero">
                <Image src={logo} alt='brand logo' />
                <div>
                    <h1 class="font-bold text-3xl ">{SITE_TITLE}</h1>
                    <p class="w-72 mt-4 leading-8 italic">{SITE_DESCRIPTION}</p>

                    <div class="flex items-center gap-4 mt-28 social">
                        <span class="font-bold text-[1.15rem]">follow us</span>
                        <div class="w-20 h-[1.5px] bg-accent"></div>
                    </div>
                </div>
            </div>
        </Main>
    </div> 

    <Main>
        <div class="categories mt-8 flex gap-8">
            <div class="banner w-1/2 grid grid-cols-2 gap-4">
                <div class="banner__container bg-cover flex-center relative group">
                    <h1 class="font-bold text-white text-2xl hidden group-hover:block">Wedding</h1>
                    <Image src='/images/categories/thumb/wedding.png' width={1000} height={1000} alt="" class='absolute -z-10 h-full'>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="banner__container aspect-square bg-cover cursor-pointer flex-center relative group">
                        <h1 class="font-bold text-white text-2xl group-hover:block hidden">Birthday</h1>
                        <Image src='/images/categories/thumb/birthday.png' width={1000} height={1000} alt="" class='absolute -z-10 h-full'>
                    </div>
                    <div class="banner__container aspect-square bg-cover cursor-pointer flex-center relative group">
                        <h1 class="font-bold text-white text-2xl hidden group-hover:block">Valentines</h1>
                        <Image src='/images/categories/thumb/valentines.png' width={1000} height={1000} alt="" class='absolute -z-10 h-full'>
                    </div>
                </div>
            </div>

            <div class="categories__desc w-1/2">
                <Title>Popular Collection</Title>
                <p class="mt-2 mb-4">Step into a floral wonderland where dreams are woven into fragrant petals and vibrant hues. Each bouquet is a masterpiece, carefully crafted to evoke emotions and create lasting memories. From the tender elegance of 'Blushing Memories' to the timeless allure of 'Eternal Remembrance,' every arrangement tells a story of love, loss, and cherished moments. 'Hydrangea Harmony' enchants with its serene beauty, while 'Love Palette' ignites passion with its rich hues of red and pink. 'Pastel Dreams' invites you to escape into a realm of softness and serenity, while 'Rose Petal Romance' captivates with its timeless elegance. 'Rosy Wishes and Lavender Love' offers a harmonious blend of warmth and tranquility, while 'Skybound Success' celebrates achievement and ambition with vibrant blooms. Finally, 'Sunkissed Wishes' and 'Sorbet Delight' infuse joy and optimism into every petal, making them the perfect companions for any occasion. Whatever your heart desires, these exquisite bouquets are sure to dazzle and delight, bringing beauty and meaning to every moment."</p>
                <Button>Browse Categories</Button>
            </div>
        </div>
    </Main>
</Layout>