---
import './layout.css'

// components 
import Footer from './_components/Footer.astro'
import Header from './_components/Header.tsx';
interface Props {
	title?: string;
}

const { title } = Astro.props;

// constants
import { SITE_DESCRIPTION } from '../shared/constants/general'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={SITE_DESCRIPTION} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Triple JJJ Flowershop - {title}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<Header client:load/>
			<slot />
		<Footer />
	</body>
</html>