---
// props
interface Props {
	route: Array<string>;
}

const { route } = Astro.props;
---

<div class="mt-4">
    {route.map((name: string, index: number) => (
        <span>
            <a href={name == 'home' ? '/' : ''} class="text-accent">
                / <span class={name == 'home' ? "hover:underline" : ''}>{name}</span> 
            </a>
        </span>
    ))}
</div>