<div class="categories aspect-square bg-green-300 w-full flex items-center justify-center text-center">
    <div>
        <h1>B F</h1>
        <p>View Products</p>
    </div>
</div>

<style>
    .categories{
        /* background: url('../../assets/----'); */
    }
</style>